* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    height: 100vh;
}

.main-container {
    border: 2px solid blue;
    height: 100%;
    display: grid;
    grid-template-columns: 250px repeat(12, 1fr);
    grid-template-rows: 150px 3fr;

    grid-template-areas:
        "s h h h h h h h h h h h h"
        "s c c c c c c c c c c c c"
        "s c c c c c c c c c c c c";

}


.header {
    grid-area: h;
    background-color: white;
    border: 2px solid red;
    padding: 0 1.5rem;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 75px 75px;

}

.header .search,
.header .account {
    align-items: center;
}

.search {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.search img {
    width: 30px;
}

.search input {
    background-color: #e9ecef;
    border: none;
    border-radius: 100px;
    width: 70%;
    font-size: 17px;
    padding: 4px 8px;
}

.account {
    display: grid;
    grid-template-columns: 25px 50px 150px;
    align-items: center;
    justify-content: center;
    gap: 20px;


}

.account .notification-icon {
    width: 25px;
}

.account .account-photo {
    width: 50px;

    border-radius: 50%;
}


.content {
    grid-area: c;
    background-color: #212529;
    border: 1px solid yellow;
}


.sidebar {
    border: 2px solid red;
    background-color: #f8f9fa;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.5rem;
    grid-area: s;

}

.sidebar div,
.sidebar ul:nth-child(2) {
    padding-bottom: 2.7em;
}

.sidebar div,
.sidebar ul li {
    display: grid;
    grid-template-columns: repeat(2, 45px);
    align-items: center;
}

.sidebar div img {
    width: 36px;
}

.sidebar div {
    gap: 4px;
}

.sidebar ul {
    padding-left: .2em;
}


.sidebar ul li {
    padding-bottom: 1em;
}

.sidebar-icon {
    width: 25px;
}

.sidebar a,
.sidebar ul li {
    color: black;
}